.login-form,
.forgot-password-form,
.sign-up-form,
.reset-new-password-form,
.admin-setup-form,
.admin-first-account-form,
.admin-login-form {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.form__standalone {
  margin: 7% auto;
}
